@font-face {
  font-family: 'montserrat';
  src: url('./Montserrat/static/Montserrat-Regular.ttf');
}

body{
  font-family:'montserrat' ;
}

.center-align{
margin: 0 auto;
text-align: center;
}

.monarchs-title{
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 20px;
}

.monarchs-title {
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 20px;
}

.nav-scroller{
  /* width: 900px;
  margin: 0 auto; */
}

.nav-scroller .nav {
  /* display: flex;
  flex-wrap: nowrap;
  /* padding: 1rem; */
  /* margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap; 
  -webkit-overflow-scrolling: touch; 
    justify-content: space-around!important; */
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin-top: 5px;
}

.menu-items a{
   text-decoration: none;
}

.wallet-button{
  border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    background: white;
    width: 84%;
    height: 48px;
 
}

.cards-padding{
  padding: 50px 50px 50px 100px;
}

.card{
  border: none;
  width: 74%;
}

.card-text{
  text-align: center;
}

.radiant-image{
  background-image: url("./bg-red-gradient.png");
  color: white;
  background-repeat: round;
}

.extra-bold{
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.copy-right-text{
  text-align: center;
  padding: 20px;
}

.social-icons{
  text-align: center;
}

.gamble-text{
  margin-top: 65px;
  font-style: normal;
    font-size: 36px;
    line-height: 55px;
    text-align: center;
}


.gamble-explanation{
  line-height: 2;
  margin: 135px;
  text-align: justify;
}


.exp-left{
  margin-left: 41px;
  margin-top: 50px;
}

.exp-right{
  margin-right: 41px;
  margin-top: 50px;
}

.img-art{
  width: 92%;
  border-radius: 20px;
}

.footer{
  background-image: url('./footer-bg.png');
  color: white;
}

.margin-top-zero{
  margin-top: 0px;
}

.socialIcon{
  margin-right: 4%;
}


/* first page */

.main-page{
  background-image: url('./main-bg.jpeg');
  background-position-x: center;
    background-size: cover;
    height: 100vh;
   color: white;
}

.title-img{
  width: 60%;
  margin-top: 21.5%;
}

.next-button{
width: 60px;
height: 60px;
margin-top:11%;
cursor: pointer;
}

.give-away{
  font-weight: bold;
  text-decoration: underline;
}

/* flip css */

.flip-card {
  background-color: transparent;
  /* width: 300px; */
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-body{
  margin-top: 35%;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

/* slide show */

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  box-shadow: 0 3px 6px rgb(0 0 0 / 0.2);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}